include icon.pug
include search-form.pug

-
  var userdata = {
    name: 'Кодовёнок Хекслетович',
    text: 'Милый и скромный помощник начинающих разработчиков. Люблю JavaScript',
    avatar: '/images/avatar_4.jpg',
    country: 'Москва, Россия',
    phone: '+7 (499) 123-45-67',
    email: 'nikita.m@hexlet.io',
    twitter: '@n_mikhaylov',
  }

  var componentData = {
    listItems: {
      country: "Страна",
      phone: "Телефон",
      email: "Email",
      twitter: "Twitter",
    }
  }

h2.fw-bold.mb-4 Профиль
+search-form("Поиск по сообщениям", 'search-profile')
.card.border-0.text-center.my-6
  img.round.mx-auto.mb-2(src='images/avatar_1.jpg', alt='user avatar', width='90', height='90')
  h6.fw-bold.card-title.mb-4= userdata.name
  .card-body.py-0
    p.card-text.text-black-50= userdata.text
ul.list-group.list-group-flush.mb-4
  each value, key in componentData.listItems 
    li.list-group-item.d-flex.align-items-center
      .small
        p.m-0.text-black-50= value
        p.m-0= userdata[key]
      +icon(`${key}`, `${key} image`, '20', '20').ms-auto.filter-grey
